.footerContainer {
    background-color: var(--light-background-primary);
    color: var(--light-text-alternative);
    margin: 0 calc(-50vw - -50%);
    padding: 5rem 0;
    position: relative;
    text-align: left;
    color: var(--light-text-assitive);

    a {
        color: var(--light-text-assitive);

        &:hover {
            transform: all .3s ease;
            color: var(--light-text-normal);
        }
    }

    .footerMain {
        max-width: 64rem;
        width: 100%;
        margin: 0 auto;

        .footerTop {
            border-bottom: 1px solid var(--light-line-normal);
            display: flex;
            justify-content: space-between;
            margin: 0 auto 1.25rem;
            padding-bottom: 1.25rem;

            img {
                filter: grayscale(100%) brightness(100%);
            }
        }

        .footerMain {
            display: flex;
            margin: 0 auto;

            .footerLeft {
                width: calc(100% - 15rem);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .menuList {
                    display: flex;
                    gap: 2rem;
                }
            }
            .teamInfo {
                margin-top: 1rem;
                display: flex;
                min-width: 100%;
                flex-wrap: wrap;
                row-gap: 0rem;
                -moz-column-gap: .625rem;
                column-gap: 0.625rem;
            }
            .footerRight {
                .contact {
                    width: 15rem;
                }
            }
        }
        .footerBottom {
            margin-top: .5rem;
        }
    }
}