.containerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 10rem;
  width: 100%;
  margin: 0 auto;
  max-width: 75rem;
}
.containerBody .containerContext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
.containerBody .containerContext .contextWrapper {
  max-width: 45rem;
  width: 100%;
}
.containerBody .containerCategory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 8rem;
  width: 100%;
}
.containerBody .containerCategory .sebCategories {
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}
.containerBody .containerCategory .sebCategories .sebCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5%;
  gap: 0.5rem;
}
.containerBody .containerCategory .sebCategories .sebCategory .imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  background: var(--light-fill-primary);
  border: 0.0625rem solid transparent;
  border-radius: 1.5rem;
  transition: 0.2s linear;
  padding: 2rem;
}
.containerBody .containerCategory .sebCategories .sebCategory:hover .imageBox {
  border-color: var(--light-line-strong);
}

.mainBanner {
  background-color: var(--light-fill-primary);
}
.mainBanner.mianColor {
  background-color: #f1f5ff;
}
.mainBanner.whiteColor {
  background-color: var(--white);
}
.mainBanner .mainReversed {
  display: flex;
  justify-content: center;
  max-height: 47.5rem;
  max-width: 75rem;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  align-items: center;
  gap: 3rem;
}
.mainBanner .mainReversed .mainImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBanner .mainReversed .mainImage img {
  max-width: 30rem;
  padding: 0;
}
.mainBanner .mainReversed .mainDescription {
  width: 50%;
  padding: 0 3rem;
}
.mainBanner .mainReversed .mainDescription .title {
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  .mainBanner .mainReversed .mainDescription {
    margin-left: 20px;
    max-width: 240px;
  }
  .mainBanner .mainReversed .link-wrap {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mainBanner .mainReversed .link-wrap a,
  .mainBanner .mainReversed .link-wrap button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}