// 댓글
#comments {
    padding: 3rem 0;
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--line-normal);
}
.commentTitle {
    margin-bottom: .5rem;
    span {
        padding-left: .5rem;
    }
}
// 댓글 작성
#commenterTextbox {
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--line-normal);
    border-radius: .5rem;

    #commenterProfile {
        text-decoration: none;
        display: block;
        padding-bottom: .5rem;
        position: relative;

        .spaceBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #commenterProfileLeft {
                display: flex;
                align-items: center;
                #commenterProfileImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }

                #commenterProfiName {
                    display: flex;
                    margin-left: 0.5rem;
                    gap: 0.25rem;
                    align-items: center;

                    .nickName{
                        color: var(--text-normal);
                    }
                    .mail{
                        color: var(--text-assitive);
                    }
                }
            }
            #commenterProfileRight {
                Button {
                    min-width: 15rem;
                }
            }
        }
    }
    .textBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;

        textarea {
            border: none;
            background-color: var(--white);
            color: var(--text-normal);
            // margin-bottom: .5rem;
            // border-top: 1px solid var(--line-normal);
            // border-bottom: 1px solid var(--line-normal);
        }
    }
}

// 댓글리스트
#commenterList {
    margin-top: 1rem;
    display: grid;
    
    #commenterProfile {
        padding: 1rem 0;
        text-decoration: none;
        display: block;
        padding-bottom: .5rem;
        position: relative;

        .spaceBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 .5rem;

            #commenterProfileLeft {
                display: flex;
                align-items: center;
                #commenterProfileImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }

                #commenterProfiName {
                    display: flex;
                    margin-left: 0.5rem;
                    gap: 0.25rem;
                    align-items: baseline;

                    .nickName{
                        color: var(--text-normal);
                    }
                    .mail{
                        color: var(--text-assitive);
                    }
                }
            }
            #commenterProfileRight {
                .menu {
                    display: flex;
                    gap: .5rem;
                    cursor: pointer;
                    color: var(--text-assitive);

                    a{
                        &.updateToggle, &.deleteComment {
                            color: var(--text-assitive);
                            &:hover, &:active {
                                text-decoration:underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .commentBox {
        background-color: var(--white);
        color: var(--text-normal);
        // border: 1px solid var(--line-normal);
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        min-height: 100%;
    }
    #commenterDescription {
        padding: 1rem 1.5rem;
        background-color: var(--background-tertiary);
        border-radius: .5rem;
        border: 1px solid var(--background-tertiary);

        .commenterDetail {
            .commentDele {
                color: var(--text-assitive);
                span {
                    color: var(--status-alert);
                }
            }
        }
        #commenterTitle {
            padding-bottom: .5rem;
        }
        #commenterCategory {
            color: var(--text-assitive);
            padding-bottom: 2rem;
        }
    }
}

