// 댓글
#comments {
    padding: 3rem 0;
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--light-line-normal);
}
.commentTitle {
    margin-bottom: .5rem;
}
// 댓글 작성
#commenterTextbox {
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--light-line-normal);
    border-radius: .5rem;

    #commenterProfile {
        text-decoration: none;
        display: block;
        padding-bottom: .5rem;
        position: relative;

        .spaceBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #commenterProfileLeft {
                display: flex;
                align-items: center;
                #commenterProfileImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }

                #commenterProfiName {
                    display: flex;
                    margin-left: 0.5rem;
                    gap: 0.25rem;
                    align-items: center;

                    .nickName{
                        color: var(--light-text-normal);
                    }
                    .mail{
                        color: var(--light-text-assitive);
                    }
                }
            }
            #commenterProfileRight {
                Button {
                    min-width: 15rem;
                }
            }
        }
    }
    .textBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;

        textarea {
            border: none;
            // margin-bottom: .5rem;
            // border-top: 1px solid var(--light-line-normal);
            // border-bottom: 1px solid var(--light-line-normal);
        }
    }
}

// 댓글리스트
#commenterList {
    padding: 1rem 1.5rem;
    background-color: var(--light-background-tertiary);
    border-radius: .5rem;
    margin-top: 1rem;
    
    #commenterProfile {
        text-decoration: none;
        display: block;
        padding-bottom: .5rem;
        position: relative;

        .spaceBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #commenterProfileLeft {
                display: flex;
                align-items: center;
                #commenterProfileImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }

                #commenterProfiName {
                    display: flex;
                    margin-left: 0.5rem;
                    gap: 0.25rem;
                    align-items: baseline;

                    .nickName{
                        color: var(--light-text-normal);
                    }
                    .mail{
                        color: var(--light-text-assitive);
                    }
                }
            }
            #commenterProfileRight {
                Button {
                    min-width: 15rem;
                }
            }
        }
    }

    #commenterDescription {
        padding: 0;

        #commenterTitle {
            padding-bottom: .5rem;
        }
        #commenterCategory {
            color: var(--light-text-assitive);
            padding-bottom: 2rem;
        }
    }
}

