@import '../../assets/scss/mixin';

// 다른 콘텐츠 보기
#contentsMypageTum {
    padding: 3rem 0;
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;

    .contentsTitle {
        margin-bottom: .25rem;
    }
    .contentsSebTitle {
        margin-bottom: 1rem;
        color: var(--text-alternative);
    }

    #contentsCards{
        display: flex;
        gap: 1rem;

        #contentsBox {
            display: block;
            border-radius: .5rem;
            width: calc(100%/4);
            // flex:calc(100%/3);

            #contentsImg {
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    object-position: center;
                    border-radius: .5rem;
                }
            }
            #contentsText {
                .category {
                    color: var(--primary-normal);
                    padding: 0.25rem 0.5rem;
                    background-color: var(--primary-alternarive);
                    border-radius: 1rem;
                    font-weight: 700;
                }
                .title {
                    display: -webkit-box;
                    max-height:52px;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    word-break:break-all;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:2;
                    height: 52px;
                    margin-top: .25rem;
                }
            }
        }
    }
}
