@import '../../assets/scss/mixin';

// 나의 게시물 보기
#contentsUserTum {
    padding: 3rem 0;
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    .navigatorMain {
        max-width: 18rem;
        .navigatorWrapper {
            width: 18rem;
            position: sticky;
            display: block;
            left: 0;
            top: 7rem;
            .profilBox {
                border: 1px solid var(--line-normal);
                border-radius: 2rem;
                width: 15rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                gap: .25rem;
                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }
            }
            .naviator {
                padding: 1.5rem;
                display: grid;
                gap: 0.25rem;
                .menuWrapper {
                    border-radius: .25rem;
                    &:hover, &:active {
                        background-color: var(--background-maincolor);
                    }
                    a {
                        display: block;
                        padding: .25rem 1rem;
                    }
                }
                hr {
                    margin: 1rem 0;
                }
            }
            
            .writeBtn {
                margin-top: 2rem;
                background-color: var(--primary-alternarive);
                border: none;
                border-radius: .25rem;
                color: var(--primary-normal);
                font-size: .875rem;
                font-weight: 700;
                cursor: pointer;
                padding: 0 1rem;
                height: 2rem;
                min-width: 4rem;
                max-width: 25rem;
                text-rendering: auto;
                justify-content: center;
                align-items: center;
                transition: all .3s ease;
                &:hover {
                    background-color: var(--primary-alternarive);
                    box-shadow: inset 0 0 0 100px var(--interaction-primary-hover);
                }
                &:active {
                    background-color: var(--primary-alternarive);
                    box-shadow: inset 0 0 0 100px var(--interaction-primary-pressed);
                }
            }
        }
    }
    .boardBox {
        width: 100%;
        min-height: 100vh;
    }
    #contentsHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: flex-end;
        .searchMain {
            display: inline-flex;
            justify-content: flex-end;
            // background-color: var(--background-primary);
            // padding: 1rem;
            border-radius: 0.25rem;
            box-sizing: content-box;
            border: 1px solid var(--primary-normal);
            .customBox {
                // margin-right: .5rem;
                background-color: var(--white);
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
                select {
                    &.customSelect {
                        height: 3rem;
                        padding: 0 1rem;
                        -webkit-appearance: none;
                        width: 100%;
                        border: 0;
                        color: var(--text-normal);
                        width: 7rem;
                    }
                }

                [data-theme=dark] {
                    select {
                        background: url("../../assets/images/icon/ico_arrow_down_dark.svg") no-repeat calc(100% - 1rem) 50%;
                    }
                }
                [data-theme=light] {
                    select {
                        background: url("../../assets/images/icon/ico_arrow_down_light.svg") no-repeat calc(100% - 1rem) 50%;
                    }
                }
            }
            .searchBox {
                display: flex;
                align-items: center;
                // border: 1px solid var(--line-strong);
                // border-radius: 2rem;
                padding: .5rem 1rem;
                background-color: var(--white);
                input[type=text] {
                    display: inline-flex;
                    height: 1.5rem;
                    border: 0;
                    width: 100%;
                    font-size: 1rem;
                    padding: 0;
                    align-items: center;
                    gap: 0.5rem;
                    color: var(--text-normal);
                }
            }
            .searchButton {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0 1.5rem;
            }
        }
    }
    .contentsTitle {
        margin-bottom: .25rem;
    }
    .contentsSebTitle {
        margin-bottom: 1rem;
        color: var(--text-alternative);
    }
    

        
    #contentsCards{
        display: flex;
        gap: 1rem;
        
        // 나의 게시물
        .contentsGroup {
            position: relative;
            .contentsSebgroup {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                row-gap: 2rem;
                .contentsTrgroup {
                    position: relative;
                    height: auto;
                    transition: margin 0.5s;
                    float: left;
                    // margin: .5rem;
                    // gap: 1rem;
                    border: 0px solid;
                    width: calc(100%/3 - (1rem - 1rem/3));
                    -ms-flex: 0 0 calc(100%/3 - (1rem - 1rem/3));
                    flex: 0 0 calc(100%/3 - (1rem - 1rem/3));
                    max-width: calc(100%/3 - (1rem - 1rem/3));
                }
            }
        }
        #contentsBox {
            display: block;
            border-radius: .5rem;
            // width: calc(100%/4);
            // flex:calc(100%/3);

            #contentsImg {
                position: relative;
                display: flex;
                margin-bottom: .5rem;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    object-position: center;
                    border-radius: .5rem;
                }
            }
            #contentsText {
                .category {
                    color: var(--primary-normal);
                    padding: 0.25rem 0.5rem;
                    background-color: var(--primary-alternarive);
                    border-radius: 1rem;
                    font-weight: 700;
                }
                .title {
                    display: -webkit-box;
                    max-height:3.25rem;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    word-break:break-all;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:2;
                    height: 3.25rem;
                    margin-top: .25rem;
                }
            }
        }
    }
    #contentsUser{
        width: 100%;
        border-top: 1px solid var(--line-normal);
        padding-top: 2rem;

        .contentsGroup {
            padding-left: 2rem;
            max-width: 30rem;
            text-align: right;
            // 회원정보 수정
            .form-valid {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                padding-bottom: 1rem;
                text-align: left;
                
                .formBox {
                    max-width: 30rem;
                    width: 100%;

                    .formTit {
                        padding-bottom: .25rem;
                        color: var(--text-alternative);
                    }
                }

                .info {
                    padding-top: .25rem;
                    color: var(--status-warning);
                }
                // .pw-input [type=password] {
                //     &:first-child {
                //         border-bottom-left-radius: 0 ;
                //         border-bottom-right-radius: 0;
                //     }
                //     &:last-child {
                //         border-top-left-radius: 0 ;
                //         border-top-right-radius: 0;
                //         border-top: 0;
                //     }
                // }
                .message {
                    padding-top: .25rem;
                    color: var(--primary-normal);
                
                    &.mixMassage {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}
