#comments {
  padding: 3rem 0;
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--line-normal);
}

.commentTitle {
  margin-bottom: 0.5rem;
}
.commentTitle span {
  padding-left: 0.5rem;
}

#commenterTextbox {
  padding: 1rem 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--line-normal);
  border-radius: 0.5rem;
}
#commenterTextbox #commenterProfile {
  text-decoration: none;
  display: block;
  padding-bottom: 0.5rem;
  position: relative;
}
#commenterTextbox #commenterProfile .spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft {
  display: flex;
  align-items: center;
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfileImg {
  display: flex;
  align-items: center;
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfileImg img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName {
  display: flex;
  margin-left: 0.5rem;
  gap: 0.25rem;
  align-items: center;
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName .nickName {
  color: var(--text-normal);
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName .mail {
  color: var(--text-assitive);
}
#commenterTextbox #commenterProfile .spaceBetween #commenterProfileRight Button {
  min-width: 15rem;
}
#commenterTextbox .textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
#commenterTextbox .textBox textarea {
  border: none;
  background-color: var(--white);
  color: var(--text-normal);
}

#commenterList {
  margin-top: 1rem;
  display: grid;
}
#commenterList .disabled {
  color: var(--status-alert) !important;
  background-color: var(--status-alert-bg) !important;
}
#commenterList #commenterProfile {
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  padding-bottom: 0.5rem;
  position: relative;
}
#commenterList #commenterProfile .spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft {
  display: flex;
  align-items: center;
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfileImg {
  display: flex;
  align-items: center;
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfileImg img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName {
  display: flex;
  margin-left: 0.5rem;
  gap: 0.25rem;
  align-items: baseline;
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName .nickName {
  color: var(--text-normal);
}
#commenterList #commenterProfile .spaceBetween #commenterProfileLeft #commenterProfiName .mail {
  color: var(--text-assitive);
}
#commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--text-assitive);
}
#commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.updateToggle, #commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.deleteComment {
  color: var(--text-assitive);
}
#commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.updateToggle:hover, #commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.updateToggle:active, #commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.deleteComment:hover, #commenterList #commenterProfile .spaceBetween #commenterProfileRight .menu a.deleteComment:active {
  text-decoration: underline;
}
#commenterList .commentBox {
  background-color: var(--white);
  color: var(--text-normal);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  min-height: 100%;
}
#commenterList #commenterDescription {
  padding: 1rem 1.5rem;
  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
  border: 1px solid var(--background-tertiary);
}
#commenterList #commenterDescription .commenterDetail .commentDele {
  color: var(--text-assitive);
}
#commenterList #commenterDescription .commenterDetail .commentDele span {
  color: var(--status-alert);
}
#commenterList #commenterDescription #commenterTitle {
  padding-bottom: 0.5rem;
}
#commenterList #commenterDescription #commenterCategory {
  color: var(--text-assitive);
  padding-bottom: 2rem;
}