#contentsBodyTum {
  padding: 3rem 0 5rem;
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
}
#contentsBodyTum .contentsTitle {
  margin-bottom: 0.5rem;
}
#contentsBodyTum .contentsGroup {
  position: relative;
}
#contentsBodyTum .contentsGroup .contentsSebgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
}
#contentsBodyTum .contentsGroup .contentsSebgroup .contentsTrgroup {
  position: relative;
  height: auto;
  transition: margin 0.5s;
  float: left;
  border: 0px solid;
  width: calc(33.3333333333% - 0.6666666667rem);
  flex: 0 0 calc(33.3333333333% - 0.6666666667rem);
  max-width: calc(33.3333333333% - 0.6666666667rem);
}
#contentsBodyTum #contentsCards {
  display: flex;
  gap: 1rem;
}
#contentsBodyTum #contentsCards #contentsBox {
  display: block;
  border-radius: 0.5rem;
}
#contentsBodyTum #contentsCards #contentsBox #contentsImg {
  position: relative;
  display: flex;
  margin-bottom: 0.5rem;
}
#contentsBodyTum #contentsCards #contentsBox #contentsImg img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}
#contentsBodyTum #contentsCards #contentsBox #contentsText .category {
  color: var(--primary-normal);
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-alternarive);
  border-radius: 1rem;
  font-weight: 700;
}
#contentsBodyTum #contentsCards #contentsBox #contentsText .title {
  display: -webkit-box;
  max-height: 3.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 3.25rem;
  margin-top: 0.25rem;
}