#signupRequired {
  display: block;
  min-height: 80vh;
  position: relative;
}
#signupRequired .signupForm {
  max-width: 22.5rem;
  width: 100%;
  margin: auto;
  padding: 5rem 0 0;
  background-color: var(--white);
}
#signupRequired .signupForm .titleWrap {
  margin-bottom: 2rem;
}
#signupRequired .signupForm .titleWrap .logo {
  padding-bottom: 1rem;
}
#signupRequired .signupForm .titleWrap .logo .logoText {
  color: var(--primary-normal);
  font-weight: 700;
}
#signupRequired .signupForm .titleWrap .logo .logoImg {
  width: 8rem;
  height: 0;
  padding-top: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#signupRequired .signupForm .form-valid {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-bottom: 1rem;
}
#signupRequired .signupForm .form-valid .message {
  padding-top: 0.25rem;
  color: var(--primary-normal);
}
#signupRequired .signupForm .form-valid .mail-input {
  border: 1px solid var(--line-normal);
  border-radius: 0.25rem;
  gap: 0.5rem;
  height: 3rem;
  padding-right: 0.5rem;
}
#signupRequired .signupForm .form-valid .mail-input input {
  display: inline-flex;
  height: 100%;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--text-normal);
}
#signupRequired .signupForm .form-valid .mail-input Button {
  width: 6rem;
  padding: 0;
  color: var(--primary-normal);
  background-color: var(--primary-alternarive);
}
#signupRequired .signupForm .form-valid .mail-input Button:hover {
  background-color: var(--primary-alternarive);
  box-shadow: inset 0 0 0 100px var(--interaction-primary-hover);
}
#signupRequired .signupForm .form-valid .mail-input Button:active {
  background-color: var(--primary-alternarive);
  box-shadow: inset 0 0 0 100px var(--interaction-primary-pressed);
}
#signupRequired .signupForm .form-valid .mail-input, #signupRequired .signupForm .form-valid .pw-input, #signupRequired .signupForm .form-valid .txt-input {
  position: relative;
  display: flex;
  align-items: center;
}
#signupRequired .signupForm .form-valid .mail-input svg, #signupRequired .signupForm .form-valid .pw-input svg, #signupRequired .signupForm .form-valid .txt-input svg {
  left: 0.875rem;
  position: absolute;
}
#signupRequired .signupForm .form-valid .mail-input .pwShowBtn, #signupRequired .signupForm .form-valid .pw-input .pwShowBtn, #signupRequired .signupForm .form-valid .txt-input .pwShowBtn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 14px;
  top: 14px;
  background-image: url(https://cdn.fassto.ai/resources/img-hp/icon-eyes.png);
  background-size: 64px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#signupRequired .signupForm .signup-submitBtn Button {
  width: 100%;
}

.signupLinkWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 1.5rem;
  margin-top: 1rem;
}
.signupLinkWrap .logIn {
  position: relative;
}
.signupLinkWrap .logIn span {
  padding-right: 0.25rem;
}
.signupLinkWrap .logIn a {
  color: var(--text-alternative);
  cursor: pointer;
}
.signupLinkWrap .logIn a:hover {
  transition: all 0.3s ease;
  color: var(--primary-normal);
}