.admin {
    color: var(--status-alert);
    font-weight: 700;

    .title {
        filter: none;
    }
    &.box {
        background-color: var(--status-alert-bg);
        color: var(--status-alert);
        padding: 0 1rem;
        border-radius: 1rem;
        border: none;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        transition: all 0.3s ease;
    }
}