@import '../../assets/scss/mixin';

.nav {
  position: relative;
  z-index: 2;
  height: 4rem;
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;

  &::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(5px);
    background-color: var(--whiteHalf);
  }
  .container {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;

    .gridHeader {
      margin: 0 auto;
      align-items: center;
      display: flex;
      justify-content: space-between;

      @include pcMini {
          margin: 0 1.5rem;
      }

      @include tablet {
          margin: 0 1rem;
      }
      a {
        display: grid;
        gap: .25rem;
        .logoImg{
          width: 7.5rem;
          height: 0;
          padding-top: 20%;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative; 
        
          // &::before {
          //   content: "혁신과 공존 함께!";
          //   vertical-align: super;
          //   font-size: 0.75rem;
          //   font-weight: 700;
          //   color: var(--primary-normal);
          //   // margin-left: .25rem;
          //   position: absolute;
          //   // top: -75%;
          //   // left: 0;
          // }
        }
        .logoText {
          color: var(--primary-normal);
          font-weight: 700;
        }
      }
      .menu {
        align-items: center;
        display: flex;
        gap: .5rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}





// ul.menu {
//   display: flex;
//   align-items: center;
//   padding: 0;
//   margin: 0;
//   gap: 20px;
//   list-style: none;

//   a {
//     font-weight: 700;
//     position: relative;
//     color: var(--text-assitive);

//     &:hover, &:active {
//       color: var(--text-normal);
//     }

//     &:after {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: -.125rem;
//       width: 0px;
//       height: .125rem;
//       margin: .25rem 0 0;
//       transition: all .2s ease-in-out;
//       transition-duration: 0.3s;
//       opacity: 0;
//       background-color: var(--text-normal);
//     }

//     &:hover:after {
//       width: 100%;
//       opacity: 1;
//     }
//   }
// }


.mobileToggle {
  display: none;
  width: 2.75rem;
  width: 2.75rem;
  vertical-align: middle;
  position: relative;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    flex-direction: column;
  }

  span {
    width: 1.25rem;
    height: .25rem;
    background: var(--text-normal);
    content: " ";

    &:nth-child(1) {
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -webkit-transform: translateX(-10%);
      transform: translateX(-10%);
    }

    &:nth-child(2) {
      -moz-transform: translateX(10%);
      -ms-transform: translateX(10%);
      -webkit-transform: translateX(10%);
      transform: translateX(10%);
    }

    &:nth-child(3) {
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -webkit-transform: translateX(-10%);
      transform: translateX(-10%);
    }
  }
}

@include pcMini {
  .navMobile {
    height: 3.5rem;
  }

  .logo {
    font-size: 1.25rem;
    font-weight: 900;
  }

  ul.menu {
    display: none;
  }

  .mobileToggle {
    display: inline-flex;
  }

  .nav {
    height: 3.5rem;

    &::after {
      backdrop-filter: none;
      border-bottom: 1px solid var(--line-normal);
    }
  }
}