#content {
    padding-top: 3rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;

    #articleImg {
        position: relative;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            border-radius: 1rem;
        }
    }

    #articleProfile {
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        position: relative;
        border-bottom: 1px solid var(--light-line-normal);

        .spaceBetween {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #articleProfileLeft {
                display: flex;
                align-items: center;
                #articleProfileImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2.75rem;
                        height: 2.75rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                    }
                }

                #articleProfiName {
                    display: inline-block;
                    margin-left: .5rem;

                    .nickName{
                        color: var(--light-text-normal);
                    }
                    .mail{
                        color: var(--light-text-assitive);
                    }
                }
            }
            #articleProfileRight {
                Button {
                    min-width: 15rem;
                }
            }


        }
        
        
    }

    #articleDescription {
        padding: 1.5rem;
        border-bottom: 1px solid var(--light-line-normal);
        #articleTitle {
            padding-bottom: .5rem;
        }
        #articleCategory {
            color: var(--light-text-assitive);
            padding-bottom: 2rem;
        }
        #articleDetail p {
            line-height: 1.6;
        }
    }
}

// 기부
#donation {
    padding: 3rem 0;
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--light-line-normal);

    .donationTitle {
        margin-bottom: .5rem;
    }
    .donationType {
        display: flex;
        gap: 1rem;
        color: var(--light-text-assitive);
        margin-top: 1rem;
        .donationBox {
            padding: .5rem 1rem;
            background-color: var(--white);
            border: 1px solid var(--light-line-normal);
            border-radius: .5rem;
            display: flex;
            gap: .5rem;
            align-items: center;
            width: 100%;

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    .donationInfo {
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
        flex-direction: column;

        .box {
            padding: .5rem;
        }
    }
}

// 댓글
#comments {
    padding: 3rem 0;
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--light-line-normal);

    .commentTitle {
        margin-bottom: .5rem;
    }
    // 댓글 작성
    #commenterTextbox {
        padding: 1rem 1.5rem;
        background-color: var(--white);
        border: 1px solid var(--light-line-normal);
        border-radius: .5rem;

        #commenterProfile {
            text-decoration: none;
            display: block;
            padding-bottom: .5rem;
            position: relative;

            .spaceBetween {
                display: flex;
                align-items: center;
                justify-content: space-between;

                #commenterProfileLeft {
                    display: flex;
                    align-items: center;
                    #commenterProfileImg {
                        display: flex;
                        align-items: center;

                        img {
                            width: 2rem;
                            height: 2rem;
                            -o-object-fit: cover;
                            object-fit: cover;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                        }
                    }

                    #commenterProfiName {
                        display: flex;
                        margin-left: 0.5rem;
                        gap: 0.25rem;
                        align-items: center;

                        .nickName{
                            color: var(--light-text-normal);
                        }
                        .mail{
                            color: var(--light-text-assitive);
                        }
                    }
                }
                #commenterProfileRight {
                    Button {
                        min-width: 15rem;
                    }
                }
            }
        }
        .textBox {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            textarea {
                border: none;
                margin-bottom: .5rem;
                // border-top: 1px solid var(--light-line-normal);
                // border-bottom: 1px solid var(--light-line-normal);
            }
        }
    }

    // 댓글리스트
    #commenterList {
        padding: 1rem 1.5rem;
        background-color: var(--light-background-tertiary);
        border-radius: .5rem;
        margin-top: 1rem;
        
        #commenterProfile {
            text-decoration: none;
            display: block;
            padding-bottom: .5rem;
            position: relative;

            .spaceBetween {
                display: flex;
                align-items: center;
                justify-content: space-between;

                #commenterProfileLeft {
                    display: flex;
                    align-items: center;
                    #commenterProfileImg {
                        display: flex;
                        align-items: center;

                        img {
                            width: 2rem;
                            height: 2rem;
                            -o-object-fit: cover;
                            object-fit: cover;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                        }
                    }

                    #commenterProfiName {
                        display: flex;
                        margin-left: 0.5rem;
                        gap: 0.25rem;
                        align-items: baseline;

                        .nickName{
                            color: var(--light-text-normal);
                        }
                        .mail{
                            color: var(--light-text-assitive);
                        }
                    }
                }
                #commenterProfileRight {
                    Button {
                        min-width: 15rem;
                    }
                }
            }
        }

        #commenterDescription {
            padding: 0;

            #commenterTitle {
                padding-bottom: .5rem;
            }
            #commenterCategory {
                color: var(--light-text-assitive);
                padding-bottom: 2rem;
            }
        }
    }
}
// 다른 콘텐츠 보기
#contentsTum {
    padding: 3rem 0 5rem;
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;

    .contentsTitle {
        margin-bottom: .5rem;
    }

    #contentsCards{
        display: flex;
        gap: 1rem;

        #contentsBox {
            width: calc(100%/3);
            // flex:calc(100%/3);

            #contentsImg {
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    object-position: center;
                    border-radius: .5rem;
                }
            }
            #contentsText {
                .category {
                    color: var(--light-primary-normal);
                    padding: 0.25rem 0.5rem;
                    background-color: var(--light-primary-alternarive);
                    border-radius: 1rem;
                }
                .title {
                    display: -webkit-box;
                    max-height:52px;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    word-break:break-all;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:2;
                    height: 52px;
                    margin-top: .25rem;
                }
            }
        }
    }
}
