[type=email], [type=password], [type=text] {
  display: inline-flex;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--light-line-normal);
  width: 100%;
  font-size: 1rem;
}

#loginRequired {
  display: block;
  min-height: 80vh;
  position: relative;
}
#loginRequired .loginForm {
  max-width: 22.5rem;
  width: 100%;
  margin: auto;
  padding: 5rem 0 0;
  background-color: var(--white);
}
#loginRequired .loginForm .titleWrap {
  margin-bottom: 2rem;
}
#loginRequired .loginForm .form-valid {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-bottom: 1rem;
}
#loginRequired .loginForm .form-valid .mail-input, #loginRequired .loginForm .form-valid .pw-input {
  position: relative;
  display: flex;
  align-items: center;
}
#loginRequired .loginForm .form-valid .mail-input svg, #loginRequired .loginForm .form-valid .pw-input svg {
  left: 0.875rem;
  position: absolute;
}
#loginRequired .loginForm .form-valid .mail-input .pwShowBtn, #loginRequired .loginForm .form-valid .pw-input .pwShowBtn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 14px;
  top: 14px;
  background-image: url(https://cdn.fassto.ai/resources/img-hp/icon-eyes.png);
  background-size: 64px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#loginRequired .loginForm .login-submitBtn Button {
  width: 100%;
}

.loginLinkWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  margin-top: 1rem;
}
.loginLinkWrap .findPw {
  position: relative;
}
.loginLinkWrap .findPw a {
  color: var(--light-text-alternative);
  cursor: pointer;
}
.loginLinkWrap .signUp {
  position: relative;
}
.loginLinkWrap .signUp span {
  padding-right: 0.25rem;
}
.loginLinkWrap .signUp a {
  color: var(--light-text-alternative);
  cursor: pointer;
}
.loginLinkWrap .signUp a:hover {
  transition: all 0.3s ease;
  color: var(--light-primary-normal);
}

.wrapTerm {
  background-color: var(--light-fill-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0;
}
.wrapTerm .termTxt {
  word-break: keep-all;
  color: var(--light-text-assitive);
  text-align: center;
}
.wrapTerm .termTxt span {
  text-underline-position: under;
}
.wrapTerm .termTxt span a {
  color: var(--light-text-assitive);
}
.wrapTerm .termTxt span a :hover, .wrapTerm .termTxt span a :active {
  color: var(--light-text-alternative);
}

.loginHrContainer {
  align-items: center;
  display: flex;
  margin: 2rem 0;
}
.loginHrContainer .loginHr {
  border-bottom: 1px solid var(--light-line-normal);
  flex: 1 1;
}
.loginHrContainer p {
  padding: 0 1rem;
  color: var(--light-text-assitive);
}

#snsLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#snsLogin .snsBtn {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
#snsLogin .snsBtn a {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
#snsLogin .snsBtn a.naverBtn {
  background-color: #00C73C;
}
#snsLogin .snsBtn a.naverBtn p {
  color: var(--white);
  padding-right: 0.5rem;
}
#snsLogin .snsBtn a.kakaoBtn {
  background-color: #FEE500;
}
#snsLogin .snsBtn a.kakaoBtn p {
  color: #191600;
  padding: 0 1.5rem 0 0.5rem;
}